*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

#p1{
    color: white;
    font-size: 20px;
    width: 50ch;
}

#p2{
    color: aqua;
    font-size: 20px;
    width: 50ch;
    margin-top: 2lh;
}